.display-box {
  margin-bottom: 2.4rem;
  padding: 1.9rem 3.2rem;
  background-color: var(--gray-darker);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.password-text {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.2rem;
  color: var(--white);
  opacity: 0.25;
}

.password-text.white {
  opacity: 1;
}

@media (hover: hover) {
  .btn-copy:hover img {
    filter: brightness(5);
  }
}
