.container {
  height: 100vh;
  padding: 0 1.6rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  max-width: 54rem;
  flex-grow: 1;
}

.app-title {
  text-align: center;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #817d92;
  margin-bottom: 3rem;
}

.app-body {
  padding: 3.2rem;
  color: var(--white);
  background-color: var(--gray-darker);
}
